      input,
      textarea {
        padding: 5px;
      }
      span {
        display: block;
        padding: 15px 0 3px;
      }
      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }
.createtaskbox {
	background-color: #030303ff; 
	border: 2px solid #9c7248;
}


 .createtaskbox input[type=submit]{
	font-family: "Lemon-Regular"
}
 .createtaskbox input[type=text]{
	background-color: black;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	color: white;
	border-bottom: 2px white blue;
	margin: 8px;
	font-family: "Lemon-Regular";
}
 .createtaskbox textarea{
	background-color: black;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	color: white;
	border-bottom: 2px white blue;
	font-family: "Lemon-Regular";
}

.createtaskbox {
	padding: 40px;
}
.createtaskbox span{
	color: white;
	font-family: "Lemon-Regular";
}

.entrytext {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: white;
	text-shadow: 1px 2px #000000;
	font-family: "Lemon-Regular";
}

