      input,
      textarea {
        padding: 5px;
      }
      span {
        display: block;
        padding: 15px 0 3px;
      }
      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }
.createtaskbox {
	background-color: #030303ff; 
	border: 2px solid #9c7248;
}


 .createtaskbox input[type=submit]{
	font-family: "Lemon-Regular"
}
 .createtaskbox input[type=text]{
	background-color: #030303ff;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	color: white;
	border-bottom: 2px white blue;
	margin: 8px;
	font-family: "Lemon-Regular";
}
 .createtaskbox textarea{
	background-color: #030303ff;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	color: white;
	border-bottom: 2px white blue;
	font-family: "Lemon-Regular";
}

.createtaskbox {
	padding: 40px;
}
.createtaskbox span{
	color: white;
	font-family: "Lemon-Regular";
}

.entrytext {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: white;
	text-shadow: 1px 2px #000000;
	font-family: "Lemon-Regular";
}

.cardtitle {
	background-color: white;   
	box-shadow: 5px 10px #0000003f;
	padding: 2px;
       	width: 190px;
       	margin: 10px;
	float: left;
}

.cardbutton {
	float: left;
	margin: 1px;
	font-family: "Kanit-ExtraLight";
}

.todocontainerbox {
	position: absolute;
	margin: 0 auto;
	left: 20%;
	right: 10%;
}

