@font-face {
	font-family: 'papercutfont';
	font-weight: 800 800;
/*	src: url('fonts/CaviarDreams-Italic.eot'); // IE9 Compat Modes */
/*	src: url('fonts/CaviarDreams-Italic.eot?#iefix') format('embedded-opentype'),  //IE6-IE8 */
/*	url('fonts/CaviarDreams-Italic.svg#svgFontName') format('svg'); // Legacy iOS */
	src: url('/assets/papercut.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.checkboxImg {
	margin-top: 5px;
	width: 15px;
	height: 15px;
}

.container {
	display: flex;
}

html, body {
	margin: 0;
}


.categories-wrapper {
	position: relative;
	margin-top: 45px;
}
.category-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;

}


.category-input:checked + label{
	background: url("/assets/pixil-frame-0.png"); /* put your image here*/
	height: 100px;
	width: 100px;
	position: absolute;
	top:0;
	left:0;
}
