input {
	padding: 5px;
	margin: 5px 0;
	outline: none;
	border: 0;
}
input:focus,
input:active {
	border-color: transparent;
	border-bottom: 2px dotted #1c87c9;
}


.banner {
	background-color: orange;
	background: linear-gradient(to bottom, rgba(255, 122, 89,1), rgba(255, 122, 89,0));
	width: 200px;
	height: 20px;

}

@font-face {
	font-family: 'papercutfont';
	font-weight: 800 800;
/*	src: url('fonts/CaviarDreams-Italic.eot'); // IE9 Compat Modes */
/*	src: url('fonts/CaviarDreams-Italic.eot?#iefix') format('embedded-opentype'),  //IE6-IE8 */
/*	url('fonts/CaviarDreams-Italic.svg#svgFontName') format('svg'); // Legacy iOS */
	src: url('/assets/papercut.ttf')  format('truetype'), /* Safari, Android, iOS */
}


.flexcontainer {
	display: flex;
}

.todonet {
	font-size: 20px;
	font-family: ;
}
